@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    background-color: #363b40;
}
.bgcol1{
    background-color: white;
}
.bgcol2{
    background-color: blue;
}
.bgcol3{
    background-color: red;
}
h1{
    color: white;    
}
h2{
    color:white;    
}
h4{
    text-shadow: 1px 1px 10px black;
    color: #bfbfbf;    
}
.hyperlinks-bt{
    filter: invert(80%);
}
.hyperlinks-bt:hover{
    filter: invert(50%);
}
.title_projetos{
    text-shadow: 1px 1px 10px black;
    font-family: Fredoka;
    color: #f5f3f3;
}
.btn-contatos{
    background-color: #5e656b; 
    border: #4d5257; 
    width: 400px; 
    text-align: left;
}
.btn-contatos:hover{
    background-color: #3e4449;  
}
.contatosTxt{
    text-align: left;
    color: black;
    font-size: 20px;
}
p{
    font-size: 17px;
    text-align: justify;
    color: #e2e1e1;    
}
.background{
    background-color:#1f2429;
}

.teste{
    float: none;
    margin: 0 auto;
}
.img-align-xs {
    margin: auto;
    display: block;
}
.txt-align-xs {
    text-align: center;
}
.fontsize-xs {
    font-size: 30px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 576px) {
    .img-align-sm {
        float:right
    }
    .txt-align-sm{
        text-align: left;
    }
}

@media (min-width: 768px) {
    .imgproject-align-md {
        float:right
    }
    .txtproject-align-md{
        text-align: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .fontsize-md{
        font-size: 45px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .img-align-lg {
        float:right
    }
}